* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rfp-table {
    margin-top: 5%;
    font-size: 1.45rem;
    text-align: justify;
    table-layout: auto;
    width: 100%;
}

th {
    line-height: 3rem;
    font-size: 1.55rem;
    text-align: center;
}

td {
    line-height: 4rem;
    text-align: center;
}

.btn {
    width: 8rem;
    font-size: 1.35rem;
    text-align: center;
    margin-right: 1.5%;
    font-weight: 450;
}

.btn-primary {
    background-color: rgba(11, 183, 131, 0.34);
    color:rgba(4, 151, 102, 1);
    border: none;
}

.btn-primary:hover {
    background-color: rgba(11, 183, 131, 0.66);  
    font-weight: 600;
    transition: all ease-in-out .3s;
}

.btn-danger {
    background-color: rgba(250, 90, 125, 0.34);
    color: #B22234;
    border: none;
}

.btn-danger:hover {
    background-color: rgba(250, 90, 125, 1);
    font-weight: 600;
    transition: all ease-in-out .3s;
}

.btn-view {
    width: 45%;
    background: rgba(1, 119, 204, 0.34);
}

.btn-view:hover {
    background: rgb(14, 77, 130);
    transition: all ease-in-out .3s;
    font-weight: 600;
    color: #FFFFFF;
}